Language: Cpp
BasedOnStyle: Google
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
IncludeCategories:
  # C standard libraries
  - Regex:       '<(arpa/|netinet/|net/if|sys/)?[^\./]*\.h>'
    Priority:    1
  # C++ standard libraries
  - Regex:       '<[^/\./]*>'
    Priority:    2
  # Miscelaneous system libraries
  - Regex:       '<(immintrin.h|malloc.h|wait.h|x86intrin.h|cuda.*)>'
    Priority:    3
  # Experimental or other system libraries
  - Regex:       '<'
    Priority:    3
  # Test libs
  - Regex:       '"(gtest|gmock)/'
    Priority:    4
  # The rest
  - Regex:       '.*'
    Priority:    5
  # Protobuf Files
  - Regex:       '\.pb\.h'
    Priority:    6
